<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" style="padding: 6px 10px;" href="#"><img height="36" src="/imgs/logo.png"/></a>
        </div>

        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/token/list">Danh sách token</a></li>
                <li><a href="/token/add">Thêm token</a></li>
                <li><a href="/tool/add-friend">Thêm yêu cầu kết bạn</a></li>
                <li><a href="/tool/log">Danh sách log</a></li>
            </ul>
        </div>
    </div>
</nav>